<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>H1 text</h1>
<h2>H1 text</h2>
<p>qrqr <span style="color: green"> qr</span></p>
    <a href="https://google.com" target="_blank"> google.com </a>
    <img alt="browsers.png" src="https://street-beat.ru/d/krossovki-nike-dc7695-002/" style="width: 1080px">
    <ul>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ul>
    <ol>
        <li>item3</li>
        <li>item2</li>
        <li>item1</li>
    </ol>
    <form action="/action" method="POST">
    <input type="text" value="12345" placeholder="text">
    <input required type="email" placeholder="Email">
    <input type="password" placeholder="Password">
    <textarea placeholder="text">12345</textarea>
    <button type="submit">Text</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 1</td>
            <td>Item 1</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Item 2</td>
            <td>Item 2</td>
            <td>Item 2</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>